<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
       {{>header}}
    
    <div id = "helo">
        <p id="lilly"></p>
        <p id="lilly2"></p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
            soluta excepturi quibusdam esse pariatur, nobis accusamus incidunt voluptatum
            nemo, corrupti assumenda quod neque placeat repellendus voluptates iste, quis
            earum harum!</p><br>
        <h4>{{title}}</h4> <br>   
        <p>hello india i am {{name}} and i am live in newyark usa and want to say somthing fromm you that goal i sthat i want to provie food two times a day to humans in all over the world</p>    

        <ul>
            <li>lalit</li>
            <li>sumeet </li>
            <li>bhagwan</li>
            <li>hansha</li>
            <li>manisha</li>
        </ul>
        <p> temperature - {{temperature}}<sup>o</sup> </p>
        <h3 id="watch"></h3>
    </div>

    {{>footer}}

    <script src="index.js"></script>

</body>


</html>