<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>

    <div id="footer">
    <h1>powerd by hanu water</h1>
    <h3>contact us <a href="tel:+91 9977138257">click to talk</a> </h3>
    <h3>mail <a href="mailto:hanuwater@gmail.com">click to mail</a></h3>
    <h4>all right reserved C@2020</h4>
</div>
    
</body>
</html>